@page
@model BHMapp.Pages.bhc.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.QuestionnaireNo)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.QuestionnaireNo)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.AntenatalCare)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.AntenatalCare)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.GestationalAge)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.GestationalAge)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.DateMenstruation)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.DateMenstruation)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.ExpectedDate)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.ExpectedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.HospitalName)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.HospitalName)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.PostNatalCare)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.PostNatalCare)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.InterviewerName)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.InterviewerName)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.InterviewDate)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.InterviewDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q7)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q8)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q8)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q9)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q9)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q10)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q10)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ10)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ10)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q11)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q11)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q12_7)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q12_7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q13)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q13)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ13)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ13)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q14)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q14)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q15)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q15)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ15)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ15)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q16)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q16)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q17)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q17)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q18)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q18)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ18)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ18)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q19)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q19)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q20)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q20)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ20)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ20)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q21)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q21)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q22_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q22_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q22_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q22_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q22_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q22_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q22_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q22_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ22_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ22_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q23)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q23)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q24)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q24)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q25)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q25)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q26)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q26)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q27)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q27)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q28)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q28)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q29)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q29)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q30)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q30)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q31)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q31)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q32)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q32)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q32_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q32_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q33)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q33)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q34)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q34)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q35)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q35)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ35)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ35)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q36)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q36)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ36)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ36)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q37)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q37)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q38)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q38)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q39)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q39)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q40)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q40)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q41)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q41)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q42)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q42)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q43_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q43_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q43_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q43_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q43_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q43_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q43_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q43_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q43_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q43_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q43_6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q43_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q44)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q44)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q45)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q45)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q46)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q46)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q47)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q47)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q48)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q48)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q49)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q49)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q50)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q50)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q51)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q51)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q52)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q52)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q53)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q53)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q54)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q54)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q54_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q54_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q54_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q54_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q54_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q54_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q55)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q55)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q56)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q56)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q56_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q56_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q56_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q56_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q56_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q56_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q56_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q56_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q56_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q56_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ56)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ56)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q58_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q58_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q58_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q58_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q58_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q58_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q58_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q58_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q59_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q59_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q59_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q59_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q59_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q59_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q59_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q59_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q59_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q59_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q59_6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q59_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q60)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q60)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q60_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q60_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q60_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q60_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q60_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q60_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q61_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q61_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q61_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q61_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q61_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q61_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q61_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q61_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q61_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q61_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q61_6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q61_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q62)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q62)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q63)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q63)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q64_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q64_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q64_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q64_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q64_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q64_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q64_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q64_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q64_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q64_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q65)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q65)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q66)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q66)
        </dd>
       
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q67)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q67)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ67)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ67)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q68)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q68)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q68Yes)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q68Yes)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q69)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q69)
        </dd>
        
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q71)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q71)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q71_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q71_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q72)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q72)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q73)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q73)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q74)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q74)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q75)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q75)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q76)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q76)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q77)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q77)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q78)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q78)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q79)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q79)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q80)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q80)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q81_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q81_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q81_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q81_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q81_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q81_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q81_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q81_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q81_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q81_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q81_6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q81_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q82_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q82_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q82_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q82_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q82_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q82_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q82_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q82_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q82_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q82_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q83)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q83)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q84)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q84)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q85)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q85)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q85_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q85_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q86)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q86)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q86_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q86_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q87)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q87)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q87_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q87_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q88)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q88)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q90)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q90)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ90)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ90)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q91)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q91)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q92)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q92)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.OthersQ92)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.OthersQ92)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q93)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q93)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q94)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q94)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q95)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q95)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q96)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q96)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q97)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q97)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q98_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q98_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q98_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q98_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q98_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q98_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q98_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q98_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q98_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q98_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q98_6)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q98_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q99_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q99_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q99_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q99_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q99_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q99_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q99_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q99_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q99_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q99_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_1_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_1_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_2_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_2_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_2_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_2_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_2_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_2_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_3_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_3_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_3_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_3_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_3_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_3_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_3_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_3_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_4_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_4_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_4_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_4_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_4_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_4_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_4_4)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_4_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_4_5)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_4_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_5_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_5_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q100_6_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q100_6_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q101_1)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q101_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q101_2)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q101_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q101_3)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q101_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q102)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q102)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.Q103)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.Q103)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Bhamc.CreatedDate)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Bhamc.CreatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Bhamc.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
